
article {
  border: 2px solid #606060;
  align-content: center;
  width: 120px;
  height: 144px;
  margin: 2px;
  align-content: center;
  border-radius: 10px;  
  float: left;
  margin-right: 17px;
  
}

article#par{

  background-color: #f7fade;
}
  
article#impar{
  background-color: #dfedd6;
}

h2{
  padding-left: 17px;
  
}
