
article {
  border: 2px solid #606060;
  align-content: center;
  width: 120px;
  height: 120px;
  margin: 2px;
  align-content: center;
  border-radius: 10px;  
  
  margin-bottom: 15px;
  
}

article#par{

  background-color: #f7fade;
}
  
article#impar{
  background-color: #dfedd6;
}

h2{
  text-align: center;
  font-family: Baloo;
  font-size: 36px;
  
}
